[submodule "protodef"]
	path = protodef
	url = https://github.com/york-fs/protodef.git
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "kicad/apps"]
	path = kicad/apps
	url = https://github.com/york-fs/apps.git
[submodule "kicad/bms"]
	path = kicad/bms
	url = https://github.com/york-fs/bms.git
[submodule "kicad/bms-master"]
	path = kicad/bms-master
	url = https://github.com/york-fs/bms-master.git
[submodule "kicad/data-logger"]
	path = kicad/data-logger
	url = https://github.com/york-fs/data-logger.git
[submodule "kicad/dashboard"]
	path = kicad/dashboard
	url = https://github.com/york-fs/dashboard-pcb.git
[submodule "kicad/steering-wheel"]
	path = kicad/steering-wheel
	url = https://github.com/york-fs/steering-wheel.git
