name: KiCad Build
on: workflow_call
permissions:
  contents: read
  id-token: write
  pages: write
jobs:
  kicad:
    name: Build KiCad Project
    runs-on: ubuntu-latest
    container: ghcr.io/york-fs/monorepo:kicad
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install fonts
        run: cp kicad-library/fonts/* /usr/share/fonts/ && fc-cache -fv

      - name: Get root name
        run: echo "PROJECT_NAME=$(basename -s .kicad_pro *.kicad_pro)" >> "$GITHUB_ENV"

      - name: Copy symbol table
        run: |
          kicad-cli sch erc --output /dev/null "${PROJECT_NAME}.kicad_sch"
          cp /usr/share/kicad/template/sym-lib-table ~/.config/kicad/9.0/

      - name: Run schematic ERC check
        shell: bash
        run: echo ERC_PASS=$(kicad-cli sch erc --output /dev/stdout "${PROJECT_NAME}.kicad_sch" | tee /dev/stderr | grep -qP 'Errors\s+[1-9]\d*' && echo 'false' || echo 'true') >> "$GITHUB_ENV"

      - name: Run PCB DRC check
        shell: bash
        run: |
          kicad-cli pcb drc --output drc.json --format json --schematic-parity "${PROJECT_NAME}.kicad_pcb"
          jq '.violations + .unconnected_items + .schematic_parity' drc.json | tee violations.json
          echo DRC_PASS=$([[ $(jq 'del(.[] | select(.severity == "warning")) | length' violations.json) -eq 0 ]] && echo 'true' || echo 'false') >> "$GITHUB_ENV"

      - name: Export BOM
        run: >-
          kicad-cli sch export bom
          --output bom.csv
          --fields 'Reference,Value,Footprint,${QUANTITY},Mfr,Mfr #,Dist,Dist #,${DNP}'
          --labels 'Refs,Value,Footprint,Qty,Mfr,Mfr #,Dist,Dist #,DNP'
          --group-by 'Reference,Value,Mfr,Mfr #'
          "${PROJECT_NAME}.kicad_sch"

      - name: Export schematic PDF
        run: >-
          kicad-cli sch export pdf
          --output schematic.pdf
          "${PROJECT_NAME}.kicad_sch"

      - name: Export positions
        run: >-
          kicad-cli pcb export pos
          --output positions.csv
          --format csv
          "${PROJECT_NAME}.kicad_pcb"

      - name: Export gerbers
        run: >-
          kicad-cli pcb export gerbers
          --output gerbers
          --cdnp
          --no-x2
          --no-netlist
          --subtract-soldermask
          "${PROJECT_NAME}.kicad_pcb"

      - name: Export drill file
        run: >-
          kicad-cli pcb export drill
          --output gerbers
          --format excellon
          --drill-origin absolute
          --excellon-zeros-format decimal
          --excellon-oval-format alternate
          --excellon-units mm
          --generate-map
          --map-format gerberx2
          "${PROJECT_NAME}.kicad_pcb"

      - name: Export preview render
        run: >-
          kicad-cli pcb render
          --output preview.jpg
          --width 3000
          --height 2000
          --side top
          --zoom 1.1
          --perspective
          --light-camera 0.0
          --light-top 0.0
          --light-bottom 0.0
          --light-side 0.4
          --light-side-elevation 45
          "${PROJECT_NAME}.kicad_pcb"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}
          path: |
            bom.csv
            schematic.pdf
            positions.csv
            gerbers/
            preview.jpg

      - name: Upload gerbers
        uses: actions/upload-artifact@v4
        with:
          name: gerbers
          path: gerbers/*

      - name: Extract PCB stats
        shell: bash
        run: |
          REVISION=$(jq -r '.text_variables.REVISION' "${PROJECT_NAME}.kicad_pro")
          PAD_COUNT=$(grep -c '(pad' "${PROJECT_NAME}.kicad_pcb")
          VIA_COUNT=$(grep -c '(via' "${PROJECT_NAME}.kicad_pcb")
          mkdir site
          printf '{"revision": "%s", "pad_count": %u, "via_count": %u, "drc_pass": %s, "erc_pass": %s}\n' \
            "$REVISION" "$PAD_COUNT" "$VIA_COUNT" "$DRC_PASS" "$ERC_PASS" > site/info.json
          printf '{"schemaVersion": 1, "label": "ERC", "message": "%s", "color": "%s"}\n' \
            $([[ "$ERC_PASS" = 'true' ]] && echo 'passing' || echo 'failing') \
            $([[ "$ERC_PASS" = 'true' ]] && echo 'green' || echo 'red') > site/erc.json
          printf '{"schemaVersion": 1, "label": "DRC", "message": "%s", "color": "%s"}\n' \
            $([[ "$DRC_PASS" = 'true' ]] && echo 'passing' || echo 'failing') \
            $([[ "$DRC_PASS" = 'true' ]] && echo 'green' || echo 'red') > site/drc.json
          cp preview.jpg site/

      - uses: actions/upload-pages-artifact@v3
        with:
          path: "site"
      - uses: actions/deploy-pages@v4
