name: LaTeX
on:
  workflow_call:
    inputs:
      directory:
        required: true
        type: string
      name:
        required: true
        type: string
jobs:
  latex:
    name: Build LaTeX Document
    runs-on: ubuntu-latest
    container: ghcr.io/york-fs/monorepo:latex
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run latexmk
        working-directory: ${{ inputs.directory }}
        run: latexmk -pdflua -silent ${{ inputs.name }}

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.name }}
          path: ${{ inputs.directory }}/${{ inputs.name }}.pdf
